<mat-card>
  <mat-card-header>
    <mat-card-title>
      <button mat-button (click)="previousEvent()" [disabled]="eventId<=1">&lt;</button>
      <span [matTooltip]="'event '+event.id+' of '+maxEventId">#{{event.id}} - {{event.description}}</span>
      <button mat-button (click)="nextEvent()" [disabled]="eventId>=maxEventId">&gt;</button>
    </mat-card-title>
    <mat-card-subtitle>
      <button matTooltip="previous Heat (<ctrl>+<p>)" mat-button (click)="previousHeat()" [disabled]="heatId<=1">&lt;
      </button>
      <span>Heat #{{heatId}}/{{maxHeatId}} - {{event.date}} {{event.time}}</span>
      <button matTooltip="next Heat (<ctrl>+<n>)" mat-button (click)="nextHeat()"
              [disabled]="heatId>=maxHeatId && eventId>=maxEventId">&gt;
      </button>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="title">
      <span class="laneId">lane</span>
      <span class="swimmer">swimmer</span>
    </div>
    <div class="lane" *ngFor="let lane of lanes">
      <span class="laneId">{{lane.lane}}</span>
      <span class="swimmer"><a href="javascript:void(0)"
                               (click)="popup(lane.inscription)">{{lane.inscription?.name}}</a></span>
    </div>
  </mat-card-content>
</mat-card>
<div class="data">
  {{lanes | json}}
</div>
