<mat-card>
  <mat-card-header>
    <mat-card-title>
      <button mat-button (click)="previousEvent()" [disabled]="eventId<=1">&lt;</button>
      <span [matTooltip]="'event '+event.id+' of '+maxEventId">#{{event.id}} - {{event.description}}</span>
      <button mat-button (click)="nextEvent()" [disabled]="eventId>=maxEventId">&gt;</button>
      <a [matTooltip]="'print all heats for event '+eventId"  target="_blank" [routerLink]="['/print-event/',eventId]" mat-button>
      <mat-icon>print</mat-icon></a>
      <button mat-button (click)="refresh()" matTooltip="refresh this event">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-card-title>
    <mat-card-subtitle>
      <button matTooltip="previous Heat (<ctrl>+<p>)" mat-button (click)="previousHeat()" [disabled]="heatId<=1">&lt;</button>
      <span>Heat #{{heatId}}/{{maxHeatId}} - {{event.date}} {{event.time}}</span>
      <button matTooltip="next Heat (<ctrl>+<n>)" mat-button (click)="nextHeat()" [disabled]="heatId>=maxHeatId && eventId>=maxEventId">&gt;</button>
      <button mat-button (click)="publish()" matTooltip="publish this heat">
        <mat-icon>publish</mat-icon>
      </button>
    </mat-card-subtitle>
  </mat-card-header>
    <mat-card-content >
      <div class="title">
        <span class="laneId">lane</span>
        <span class="swimmer">swimmer</span>
        <span class="time" *ngFor="let distance of event.distances">{{distance}}m</span>
      </div>
      <div class="lane" *ngFor="let lane of lanes">
        <span class="laneId">{{lane.lane}}</span>
        <span class="swimmer"><a href="javascript:void(0)" (click)="popup(lane.inscription)">{{lane.inscription?.name}}</a></span>
        <span class="time" *ngFor="let time of lane.times">{{time.time|manualTime}}</span>
      </div>
    </mat-card-content>
</mat-card>
<div class="data">
  {{lanes | json}}
</div>
