<div class="container">
  <div class="head">{{timerText}}</div>
  <mat-progress-bar mode="determinate"  [value]="readyRate"></mat-progress-bar>
  <div class="content">
    <button (click)="buttonPushed()"
            mat-button mat-raised-button [color]="readyRate<100?'warn':'primary'" class="bigButton">
      {{buttonText}}
    </button>
    <button (click)="skip()"
            mat-button mat-raised-button color="normal">
      skip
    </button>
  </div>
  <mat-progress-bar mode="determinate"  [value]="readyRate"></mat-progress-bar>
</div>
