p{
  border: 2px dashed green;
}
span{
  border: 1px solid #888888;
  margin-left:1px;
  margin-bottom:1px;
  display: inline-block;
}
span.lane{
  display: inline-block;
  width: 1rem;
  text-align: center;
}
span.swimmer{
  min-width: 15rem;
  text-align: right;
}
span.time{
  display: inline-block;
  width: 4rem;
}
span.timeHeader{
  display: inline-block;
  width: 4rem;
}
.header{
  font-weight: bolder;
  text-align: center;
}
