p{
  border: 2px dashed green;
}
span{
  border-right: 1px solid #888888;
  margin-left:1px;
  margin-bottom:1px;
  display: inline-block;
}
span.lane{
  display: inline-block;
  width: 1rem;
  text-align: center;
}
span.swimmer{
  width: 8rem;
  display:inline-block;
  text-align: right;
}
span.time{
  display: inline-block;
  width: 4rem;
}
.header{
  border-bottom: 1px solid #888888;
  font-weight: bolder;
  text-align: center;
}
div:nth-child(odd).lane{
  background-color: rgba(7, 63, 138, 0.1);
}
