<h1>Event #:{{eventId}}:{{event.description}}</h1>
<div *ngFor="let heat of heats; let i=index">
  <h2>Heat #{{i + 1}}</h2>
  <div>
    <span class="lane header">lane</span>
    <span class="swimmer header">swimmer</span>
    <span class="time header" *ngFor="let distance of event.distances">{{distance}}m</span>
  </div>
  <div *ngFor="let lane of heat">
    <ng-container *ngIf="lane.name || lane.times.length>0">
      <span class="lane">{{lane.lane}}</span>
      <span class="swimmer">{{lane.name}}</span>
      <span class="time" *ngFor="let time of lane.times">{{time.time | manualTime}}</span>
    </ng-container>
  </div>
</div>
