<mat-card>
    <mat-card-header>
        <mat-card-title>
            <button [disabled]="eventId<=1" color="accent"
                    mat-mini-fab aria-label="go to previous event" matTooltip="previous event"
                    (click)="previousEvent()">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <span class="filler"> </span>
            <span>Event #{{event?.id}}</span>
            <span>Lane #{{user.lane}}</span>
            <span>{{event?.description}}</span>
            <span class="filler"> </span>
            <button [disabled]="(eventId)>=events.length" color="accent"
                    mat-mini-fab aria-label="go to next event" matTooltip="next event"
                    (click)="nextEvent()">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngFor="let heat of heats" class="heat" [class.hidden]="heat.name == undefined">
            <span class="circle">{{heat.id}}</span>
            <span>{{heat.name}}</span>
            <mat-form-field appearance="fill" class="time">
                <mat-label>Time</mat-label>
                <input matInput pattern="\d{2}'\d{2}.\d{3}"
                       placeholder="mm'ss.ddd"
                       [disabled]="heat.name == undefined"
                       [(ngModel)]="heat.time"
                       appManualTime
                       (blur)="save(heat)"
                >
            </mat-form-field>
        </div>
    </mat-card-content>
</mat-card>
<div class="data">
    {{heats | json}}
</div>
