<mat-card>
    <mat-card-header>
        <mat-card-title>
            <button [disabled]="eventId==0" color="primary"
                    mat-icon-button aria-label="go to previous event" matTooltip="previous event"
                    (click)="previousEvent()">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <span class="filler"> </span>
            <span>Event #{{event?.id}}: {{event?.description}}</span>
            <span class="filler"> </span>
            <button [disabled]="(eventId+1)>=events.length" color="primary"
                    mat-icon-button aria-label="go to next event" matTooltip="next event"
                    (click)="nextEvent()">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngFor="let heat of heats">
         <span>{{heat.id}}</span>
         <span>{{heat.name}}</span>
        </div>
    </mat-card-content>
</mat-card>
