.main{
  display: flex;
  flex-flow: column wrap;
  height: 98vh;
  margin: 10px;
}
.header{
  flex: 0 1 auto;
  margin: 10px;
}
.content{
  flex: 1 0 auto;
  background-image: url( '/assets/cnw.svg' );
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 30%;
}
.app-header{
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 90vw;
}
span{
  flex: 1 1 auto;
}
.filler{
  flex: 1 0 auto;
}
button {
  margin: 8px;
}
