.container{
  height: 90vh;
  display:flex;
  background-image: url( '/assets/cnw.svg' );
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 25%;
}
.scroll{
  overflow-y: scroll;
}
.app-header{
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 90vw;
}
span{
  flex: 1 1 auto;
}
.filler{
  flex: 1 0 auto;
}
button {
  margin: 8px;
}
.error{
  color: red;
  font-weight: bolder;
}
