<mat-toolbar class="noprint" color="primary">
  <span>CNW Manual Timing</span>
  <button mat-mini-fab color="accent" aria-label="go to home page" matTooltip="Call room page"
          (click)="navigateCallRoom()">
    <mat-icon>campaign</mat-icon>
  </button>
  <span class="filler"></span>

  <button mat-mini-fab color="none" aria-label="go to home page" matTooltip="go back to home page"
          (click)="navigateHome()">
    <mat-icon>home</mat-icon>
  </button>
</mat-toolbar>
<mat-card class="container">
  <span *ngIf="cacheSize>0">
    <a mat-button mat-raised-button color="warn"
       (click)="retrySaveTime()">You are offline!, when online again click here to save</a></span>
  <mat-card-content class="scroll">
    <router-outlet></router-outlet>
  </mat-card-content>
</mat-card>
