<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level - %msg%n</pattern>
		</encoder>
	</appender>
	<logger name="org" level="info"/>
	<logger name="com" level="info"/>
	<logger name="lu.even.manual_timing" level="debug"/>
	<logger name="io" level="info"/>
	<timestamp key="timestamp" datePattern="yyyyMMdd"/>
	<appender name="TIMELOG" class="ch.qos.logback.core.FileAppender">
		<file>${logs_dir:-.}/${timestamp}-time.log</file>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS},%msg%n</pattern>
		</encoder>
	</appender>
	<appender name="USERLOG" class="ch.qos.logback.core.FileAppender">
		<file>${logs_dir:-.}/${timestamp}-user.log</file>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS},%msg%n</pattern>
		</encoder>
	</appender>
	<logger name="lu.even.manual_timing.verticles.ManualTimeVerticle" level="info">
		<appender-ref ref="TIMELOG" />
	</logger>
	<logger name="lu.even.manual_timing.verticles.UserVerticle" level="info">
		<appender-ref ref="USERLOG" />
	</logger>
	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
