span + span:before {
    content:", ";
}
mat-card{
    margin:5px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.1);
}
.container{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
}
